@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap");
.container {
  max-width: 600px;
  margin: 0px auto;
  padding: 10px;
  font-family: "Roboto";
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
button {
  margin-bottom: 10px;
  font-size: 28px;
  cursor: pointer;
}
.display {
  width: 100%;
  margin-bottom: 10px;
  min-height: 100px;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 24px;
}
.numbers {
  flex: 0 1 75%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.numbers button {
  flex: 0 1 30%;
}

.operators {
  flex: 0 1 22%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.operators button {
  flex: 0 1 100%;
}
.result {
  position: relative;
  top: 95px;
  margin-left: 10px;
}
